@import "./reset.scss";

@font-face {
  font-family: "Sofia Pro";
  src: url("../../assets/fonts/SofiaPro-Medium.eot");
  src: url("../../assets/fonts/SofiaPro-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("../../assets/fonts/SofiaPro-Medium.woff2") format("woff2"),
    url("../../assets/fonts/SofiaPro-Medium.woff") format("woff"),
    url("../../assets/fonts/SofiaPro-Medium.ttf") format("truetype"),
    url("../../assets/fonts/SofiaPro-Medium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sofia Pro";
  src: url("../../assets/fonts/SofiaPro-Light.eot");
  src: url("../../assets/fonts/SofiaPro-Light.eot?#iefix")
      format("embedded-opentype"),
    url("../../assets/fonts/SofiaPro-Light.woff2") format("woff2"),
    url("../../assets/fonts/SofiaPro-Light.woff") format("woff"),
    url("../../assets/fonts/SofiaPro-Light.ttf") format("truetype"),
    url("../../assets/fonts/SofiaPro-Light.svg") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

// Icomoon
@font-face {
  font-family: "icomoon";
  src: url("../../assets/fonts/icomoon.eot?6ejz1j");
  src: url("../../assets/fonts/icomoon.eot?6ejz1j#iefix")
      format("embedded-opentype"),
    url("../../assets/fonts/icomoon.ttf?6ejz1j") format("truetype"),
    url("../../assets/fonts/icomoon.woff?6ejz1j") format("woff"),
    url("../../assets/fonts/icomoon.svg?6ejz1j#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

$black: #1e1b18;
$white: #fff;
$primary: #004fa3;
$accent: #82c341;
$gray: #ececec;
$transparent: transparent;

$box: 1440px;

// MIXINS
// Remove borders, outlines & backgrounds
@mixin clear-styles {
  border: none;
  outline: none;
  background-color: $transparent;
}

// Icons
@mixin icon($asci: "") {
  content: $asci;
  font-family: "icomoon";
  font-variant: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// GLOBAL
body {
  font-family: "Sofia Pro";
  font-weight: 300;
  background-color: $gray;
  overflow: hidden;
  color: $black;
}

// UTILITY CLASSES
.boxed {
  max-width: $box;
}

.centered {
  margin: auto;
}
// TYPOGRAPHY
.heading {
  font-size: 70px;
  font-weight: 300;
  line-height: 1;
  text-transform: lowercase;
}

.button {
  @include clear-styles;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  margin-top: 32px;
  padding: 14px 25px;
  border-radius: 200px;
  background: $white;
  font-size: 13px;
  pointer-events: auto;
  cursor: pointer;
  transition: ease 0.3s;
}

.button::before,
.button::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.button {
  overflow: hidden;
  z-index: 2;
  color: $black;
  display: flex;
  align-items: center;

  &:hover {
    span:after {
      transform: translateX(5px);
    }
  }
}

// Button
.button span {
  display: flex;
  align-items: center;
  gap: 24px;
  position: relative;
  color: $black;
  z-index: 10;
  transition: 0.4s ease;

  &:after {
    @include icon("\e900");
    font-size: 12px;
    color: $black;
    transition: ease 0.3s;
  }
}

// .button::before {
//   content: "";
//   background: $black;
//   height: 0;
//   left: -100%;
//   border-radius: 50%;
//   transform: translate(68%, 0) scale3d(0, 0, 0);
// }

// .button:hover::before {
//   transform: translate(0, 0) scale3d(1, 1, 1);
//   transition: transform 0.4s cubic-bezier(0.1, 0, 0.3, 1);
// }

// .button::after {
//   content: "";
//   background: $primary;
//   transform: translate(-110%, 0);
//   border-radius: 0 25px 25px 0;
//   transition: transform 0.4s cubic-bezier(0.1, 0, 0.3, 1);
// }

// .button:hover::after {
//   transform: translate(0, 0);
//   transition-duration: 0.2s;
//   transition-timing-function: linear;
// }

h1 {
  font-size: 75px;
  line-height: 1;
  font-weight: 300;
  will-change: transform;
}

// Intro Loader
.loader {
  position: absolute;
  z-index: 999;
  min-height: 100vh;
  min-height: 100svh;
  width: 100%;
  background: $white;
  overflow: hidden;
  transform: scale(2);
}

a {
  text-decoration: none;
}

// Hero
.hero {
  min-height: 100vh;
  display: grid;
  place-content: center;
  position: relative;

  &__heading {
    // position: relative;
    // display: flex;
    // flex-direction: column;
    position: absolute;
    left: 0;

    width: 100%;
    // min-width: 1500px;
  }

  &__container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    // display: grid;
    // align-items: center;
    // grid-template-columns: 2fr 3fr;
    // justify-content: center;
  }

  &__text-container {
    // display: flex;
    // align-items: center;
    color: $primary;
    z-index: 3;
  }

  &__word {
    position: absolute;
    opacity: 1;
    background-color: $gray;
    line-height: 0.9;

    &--lpc-is {
      z-index: 200;
      bottom: 60px;
      right: -35%;
      // padding-right: 200px;
      // padding-left: 40px;
      padding: 8px 200px 8px 40px;
    }

    &--sustainable {
      top: -50%;
      left: 0%;
    }

    &--producer {
      top: 0;
      left: 50%;
    }

    &--exporter {
      bottom: 50%;
      right: 50%;
    }
  }

  // &__lines {
  //   // display: flex;
  //   // gap: 20px;
  //   // position: relative;
  //   // width: 100vw;
  // }

  &__line {
    position: absolute;
    // min-width: 500px;
    min-height: 3px;
    background-color: $accent;
    z-index: 2;

    &--1 {
      left: -8vw;
      top: 0vh;
      background-color: $accent;
      height: 15px;
      width: 400px;
    }

    &--2 {
      left: -20vw;
      top: 10vh;
      background-color: $accent;
      height: 3px;
      width: 280px;
    }

    &--3 {
      left: -5vw;
      top: 25vh;
      background-color: $white;
      height: 3px;
      width: 100px;
    }

    &--4 {
      left: -5vw;
      top: 30vh;
      background-color: $primary;
      height: 25px;
      width: 160px;
    }
  }

  // &__scene {
  //   position: relative;
  // }

  &__image-container {
    // position: absolute;
    position: relative;
    z-index: 1;
    width: 100%;
    // bottom: 0;
    // top: 0;
    // inset: 0;
    // margin: auto;

    // &--1 {
    //   clip-path: polygon(0 50%, 100% 50%, 100% 50%, 0 50%);
    // }
  }

  // &__scene {
  //   margin-left: 250px;
  //   height: 400px;
  // }
}

.spheres {
  &__image-container {
    position: absolute;
    max-width: 400px;

    &--earth {
      z-index: 3;
      position: relative;
    }

    &--blue {
      z-index: 1;
      // transform: translateX(140px);
    }
    &--green {
      z-index: 2;
      // transform: translateX(85px);
    }
  }
}

.spheres-small {
  &__image-container {
    position: absolute;
    max-width: 100px;
    // top: 0;

    &--producer-1 {
      max-width: 50px;
      top: 80%;
      left: 50%;
    }

    &--producer-2 {
      max-width: 25px;
      top: 70%;
      left: 80%;
    }

    &--producer-3 {
      max-width: 60px;
      left: 70%;
    }

    &--trader-1 {
      max-width: 45px;
      top: 20%;
      left: 70%;
    }

    &--trader-2 {
      max-width: 100px;
      left: 55%;
      top: 40%;
      // bottom: 50%;
    }
  }
}

// Circular
.circular-shape {
  position: absolute;
  z-index: -1;
  inset: 0;
  margin: auto;
  width: 380px;
  height: 380px;
  overflow: hidden;
  border-radius: 380px;

  .circular-shape__video {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

// Sustainability
.sustainability {
  position: relative;
  padding: 160px 0 80px;

  &__heading {
    color: $primary;
  }

  &__text {
    font-size: 20px;
  }
}

// Video
.video {
  padding: 80px 0 160px;

  &__heading {
    color: $primary;
  }

  &__text {
    max-width: 1040px;
    padding: 36px 0;
    font-size: 20px;
    position: relative;
    z-index: 1;
  }

  &__video-container {
    max-width: $box;
    max-height: 770px;
  }

  &__video {
    height: 100%;
    width: 100%;
  }
}

// News
.news {
  padding: 80px 0 160px;
  position: relative;
  z-index: 1;

  &__heading {
    color: $primary;
  }

  &__archive {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    margin-top: 48px;
  }

  &__post {
    display: grid;
    grid-template-rows: repeat(4, max-content);
    gap: 16px;
  }

  &__date {
    font-size: 12px;
    display: flex;
    align-items: center;
    gap: 10px;

    &:after {
      content: "";
      width: 100%;
      height: 1px;
      background-color: rgba($primary, 0.2);
    }
  }

  &__post-title {
    font-size: 32px;
    line-height: 1;
    font-weight: 500;
    color: $black;
  }

  &__text {
    font-size: 15px;
  }

  &__image {
    aspect-ratio: 16/9;
    object-fit: cover;
    width: 100%;
  }

  &__link {
    align-self: end;
  }

  &__particles-spiral {
    bottom: -20%;
    transform: scaleX(-1);
  }
}

// Brands
.brands {
  position: relative;
  z-index: 2;
  margin: 80px auto 80px;

  &__container {
    padding: 80px 0;
  }

  &__row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 160px;
    margin-top: 36px;
  }

  &__heading {
    color: $primary;
  }

  &__text {
    max-width: 640px;
    font-size: 20px;
  }

  &__images {
    display: flex;
    align-items: center;
    gap: 80px;
  }
}

// Footer
.footer {
  position: relative;
  z-index: 1;
  padding: 80px 0;

  &__container {
    max-width: 1800px;
  }

  &__heading {
    font-size: 18px;
    line-height: 2;
    color: $primary;
  }

  &__item {
    font-size: 12px;
    text-transform: uppercase;
  }

  // Top
  &__top {
    display: grid;
    grid-template-columns: 5fr 3fr;
  }

  &__navigation {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  // Social
  &__social {
    display: flex;
    gap: 32px;
    // justify-content: space-between;
    align-items: center;
    grid-column: span 4;
    margin-top: 80px;
    // padding-right: 120px;
  }

  &__social-text {
    font-size: 18px;
  }

  &__social-icons-container {
    display: flex;
    align-items: center;
    gap: 36px;
  }

  &__social-icon-container {
    max-width: 20px;
  }

  // Certifications
  &__certifications {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
  }

  &__certifications-heading {
    font-size: 16px;
  }

  &__certifications-text {
    font-size: 10px;
    text-transform: uppercase;
  }

  &__certifications-image-container {
    max-width: 55px;
  }

  &__certifications-image {
    border-radius: 100%;
  }

  // Bottom
  &__bottom {
    max-width: 1800px;
    border-radius: 20px;
    overflow: hidden;
    margin-top: 56px;
  }

  &__bottom-info {
    padding: 36px 0;
    background-color: $white;
  }

  &__bottom-info-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &__bottom-logos {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__bottom-logo-container {
    max-width: 200px;
  }

  &__bottom-logo-separator {
    background-color: rgba($primary, 0.2);
    height: 1px;
    width: 100%;
  }

  &__bottom-contact-info {
    font-size: 16px;
  }

  &__bottom-copyrights {
    padding: 32px 0;
    background-color: #f6f8fa;
  }

  &__bottom-copyrights-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #042759;
  }

  &__copyrights-text {
    font-size: 12px;
  }

  &__privacy-link {
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    color: #042759;
  }
}

// Header
.header {
  background-color: transparent;
  position: absolute;
  width: 100%;
  margin: auto;
  // inset: 0;
  z-index: 999;
  padding: 56px 0;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo-container {
    display: flex;
    align-items: center;
    gap: 18px;
    height: 36px;
  }

  &__logo {
    height: 100%;
  }

  &__logo-separator {
    width: 1px;
    height: 72px;
    background-color: $black;
  }

  &__tagline {
    font-size: 9px;
    text-transform: uppercase;
  }
}

// Main Menu
.main-menu {
  &__list {
    display: flex;
    align-items: center;
    gap: 40px;
    list-style: none;
  }

  &__link {
    font-size: 13px;
    text-transform: uppercase;
    color: $black;
    text-decoration: none;
    transition: ease 0.3s;

    &:hover {
      color: $primary;
    }
  }
}

// // Button Small
.link {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.5rem;

  &:hover:after {
    animation: arrowBounce 1.2s ease-in-out 0s infinite reverse;
  }
}

/* ARROW BOUNCE */
@keyframes arrowBounce {
  0%,
  100% {
    -moz-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  56% {
    -moz-transform: translate3d(3px, 0, 0);
    -webkit-transform: translate3d(3px, 0, 0);
    transform: translate3d(3px, 0, 0);
  }
}

//Link hover effect
.link {
  position: relative;
  white-space: nowrap;
}

.link::before,
.link::after {
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: #82c341;
  top: 85%;
  left: 0;
  pointer-events: none;
}

.link::before {
  content: "";
  transform-origin: 100% 50%;
  transform: scale3d(0, 1, 1);
  transition: transform 0.3s;
}

.link:hover::before {
  transform-origin: 0% 50%;
  transform: scale3d(1, 1, 1);
}

// .gradient-bg {
//   background: radial-gradient(
//     circle at 50% 50%,
//     rgba(255, 255, 255, 0.7) 0%,
//     rgba(255, 255, 255, 0.7) 0%,
//     rgba(255, 255, 255, 0) 55%
//   );
//   left: -50%;
//   filter: blur(30px);
//   width: 1920px;
//   height: 1080px;
//   position: absolute;
// }
