@charset "UTF-8";
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box; }

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0; }

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none; }

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth; }

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5; }

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto; }

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block; }

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit; }

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto; }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important; } }

@font-face {
  font-family: "Helvetica";
  src: url("../../assets/fonts/HelveticaNeueLTW1G-Md.eot");
  src: url("../../assets/fonts/HelveticaNeueLTW1G-Md.eot") format("embedded-opentype"), url("../../assets/fonts/HelveticaNeueLTW1G-Md.woff2") format("woff2"), url("../../assets/fonts/HelveticaNeueLTW1G-Md.woff") format("woff"), url("../../assets/fonts/HelveticaNeueLTW1G-Md.ttf") format("truetype"), url("../../assets/fonts/HelveticaNeueLTW1G-Md.svg") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Helvetica";
  src: url("../../assets/fonts/HelveticaNeueLTW1G-Roman.eot");
  src: url("../../assets/fonts/HelveticaNeueLTW1G-Roman.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/HelveticaNeueLTW1G-Roman.woff2") format("woff2"), url("../../assets/fonts/HelveticaNeueLTW1G-Roman.woff") format("woff"), url("../../assets/fonts/HelveticaNeueLTW1G-Roman.ttf") format("truetype"), url("../../assets/fonts/HelveticaNeueLTW1G-Roman.svg") format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Helvetica";
  src: url("../../assets/fonts/HelveticaNeueLTW1G-Lt.eot");
  src: url("../../assets/fonts/HelveticaNeueLTW1G-Lt.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/HelveticaNeueLTW1G-Lt.woff2") format("woff2"), url("../../assets/fonts/HelveticaNeueLTW1G-Lt.woff") format("woff"), url("../../assets/fonts/HelveticaNeueLTW1G-Lt.ttf") format("truetype"), url("../../assets/fonts/HelveticaNeueLTW1G-Lt.svg") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "icomoon";
  src: url("../../assets/fonts/icomoon.eot?6ejz1j");
  src: url("../../assets/fonts/icomoon.eot?6ejz1j#iefix") format("embedded-opentype"), url("../../assets/fonts/icomoon.ttf?6ejz1j") format("truetype"), url("../../assets/fonts/icomoon.woff?6ejz1j") format("woff"), url("../../assets/fonts/icomoon.svg?6ejz1j#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block; }

body {
  font-family: "Helvetica";
  font-weight: 300;
  background-color: #ececec;
  overflow: hidden;
  color: #1e1b18;
  font-size: 15px;
  line-height: 1.2; }

.boxed {
  max-width: 1280px; }

.centered {
  margin: auto; }

.heading {
  font-size: 70px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.04em; }

.small-heading {
  font-size: 39px;
  font-weight: 400;
  line-height: 1.2; }

.button {
  border: none;
  outline: none;
  background-color: transparent;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  margin-top: 32px;
  padding: 14px 25px;
  border-radius: 200px;
  background: #fff;
  font-size: 13px;
  pointer-events: auto;
  cursor: pointer;
  transition: ease 0.3s; }

.button::before,
.button::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.button {
  overflow: hidden;
  z-index: 2;
  color: #1e1b18;
  display: flex;
  align-items: center; }
  .button:hover span:after {
    transform: translateX(5px); }

.button span {
  display: flex;
  align-items: center;
  gap: 24px;
  position: relative;
  color: #1e1b18;
  z-index: 10;
  transition: 0.4s ease; }
  .button span:after {
    content: "";
    font-family: "icomoon";
    font-variant: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 12px;
    color: #1e1b18;
    transition: ease 0.3s; }

h1 {
  font-size: 75px;
  line-height: 1;
  font-weight: 300;
  will-change: transform; }

.loader {
  position: absolute;
  z-index: 999;
  min-height: 100vh;
  min-height: 100svh;
  width: 100%;
  background: #ececec;
  overflow: hidden;
  display: flex;
  align-items: center; }
  .loader__lines {
    position: relative;
    width: 100%; }
  .loader__line {
    position: absolute;
    height: 2px; }
    .loader__line--accent {
      background-color: #82c341;
      width: 100vw; }
    .loader__line--white {
      background-color: #fff;
      width: 100vw; }

a {
  text-decoration: none; }

.hero {
  min-height: 100vh;
  display: grid;
  place-content: center;
  position: relative; }
  .hero__heading {
    position: absolute;
    left: 0;
    width: 100%; }
  .hero__container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; }
  .hero__text-container {
    color: #004fa3;
    z-index: 3; }
  .hero__word {
    position: absolute;
    opacity: 1;
    background-color: #ececec;
    line-height: 0.9; }
    .hero__word--lpc-is {
      z-index: 200;
      bottom: 60px;
      right: -35%;
      padding: 8px 200px 8px 40px; }
    .hero__word--sustainable {
      top: -50%;
      left: 0%; }
    .hero__word--producer {
      top: 0;
      left: 50%; }
    .hero__word--exporter {
      bottom: 50%;
      right: 50%; }
  .hero__line {
    position: absolute;
    min-height: 3px;
    background-color: #82c341;
    z-index: 2; }
    .hero__line--1 {
      left: -8vw;
      top: 0vh;
      background-color: #82c341;
      height: 15px;
      width: 400px; }
    .hero__line--2 {
      left: -20vw;
      top: 10vh;
      background-color: #82c341;
      height: 3px;
      width: 280px; }
    .hero__line--3 {
      left: -5vw;
      top: 25vh;
      background-color: #fff;
      height: 3px;
      width: 100px; }
    .hero__line--4 {
      left: -5vw;
      top: 30vh;
      background-color: #004fa3;
      height: 25px;
      width: 160px; }
  .hero__image-container {
    position: relative;
    z-index: 1;
    width: 100%; }

.spheres__image-container {
  position: absolute;
  max-width: 400px; }
  .spheres__image-container--earth {
    z-index: 3;
    position: relative; }
  .spheres__image-container--blue {
    z-index: 1; }
  .spheres__image-container--green {
    z-index: 2; }

.spheres-small__image-container {
  position: absolute;
  max-width: 100px; }
  .spheres-small__image-container--producer-1 {
    max-width: 50px;
    top: 80%;
    left: 50%; }
  .spheres-small__image-container--producer-2 {
    max-width: 25px;
    top: 70%;
    left: 80%; }
  .spheres-small__image-container--producer-3 {
    max-width: 60px;
    left: 70%; }
  .spheres-small__image-container--trader-1 {
    max-width: 45px;
    top: 20%;
    left: 70%; }
  .spheres-small__image-container--trader-2 {
    max-width: 100px;
    left: 55%;
    top: 40%; }

.circular-shape {
  position: absolute;
  z-index: -1;
  inset: 0;
  margin: auto;
  width: 380px;
  height: 380px;
  overflow: hidden;
  border-radius: 380px; }
  .circular-shape .circular-shape__video {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover; }

.lpc-pillars {
  padding: 180px 20px 140px;
  background-image: url(/assets/img/home-lpc-pillars-bg.jpg);
  background-size: cover;
  background-position: center; }
  .lpc-pillars__heading {
    color: #fff; }
  .lpc-pillars__row {
    display: flex;
    margin-top: 60px; }
    .lpc-pillars__row .lpc-pillars-item {
      padding: 30px 0 40px;
      background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
      backdrop-filter: blur(30px);
      transition: .3s ease;
      position: relative; }
      .lpc-pillars__row .lpc-pillars-item a {
        color: #1e1b18; }
      .lpc-pillars__row .lpc-pillars-item__image {
        width: fit-content;
        margin-left: auto; }
      .lpc-pillars__row .lpc-pillars-item__title {
        padding: 45px 20px 20px;
        font-weight: 400; }
      .lpc-pillars__row .lpc-pillars-item__text {
        padding: 0 20px 20px; }
      .lpc-pillars__row .lpc-pillars-item::after {
        content: "";
        font-family: "icomoon";
        font-variant: normal;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-size: 12px;
        color: #1e1b18;
        transition: ease 0.3s;
        position: absolute;
        right: 30px; }
      .lpc-pillars__row .lpc-pillars-item:hover {
        background-color: #fff;
        transform: translateY(-30px); }
        .lpc-pillars__row .lpc-pillars-item:hover:after {
          margin-right: -10px; }

.sustainability {
  position: relative;
  padding: 160px 0 80px; }
  .sustainability__heading {
    color: #82c341; }
  .sustainability__text {
    font-size: 20px; }

.video {
  padding: 80px 0 160px; }
  .video__heading {
    color: #004fa3; }
  .video__text {
    max-width: 1040px;
    padding: 36px 0;
    font-size: 20px;
    position: relative;
    z-index: 1; }
  .video__video-container {
    max-width: 1280px;
    max-height: 770px; }
  .video__video {
    height: 100%;
    width: 100%; }

.news {
  padding: 80px 0 160px;
  position: relative;
  z-index: 1; }
  .news__heading {
    color: #004fa3; }
  .news__archive {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    margin-top: 48px; }
  .news__post {
    display: grid;
    grid-template-rows: repeat(4, max-content);
    gap: 16px; }
  .news__date {
    font-size: 12px;
    display: flex;
    align-items: center;
    gap: 10px; }
    .news__date:after {
      content: "";
      width: 100%;
      height: 1px;
      background-color: rgba(0, 79, 163, 0.2); }
  .news__post-title {
    font-size: 32px;
    line-height: 1;
    font-weight: 500;
    color: #1e1b18; }
  .news__text {
    font-size: 15px; }
  .news__image {
    aspect-ratio: 16/9;
    object-fit: cover;
    width: 100%; }
  .news__link {
    align-self: end; }
  .news__particles-spiral {
    bottom: -20%;
    transform: scaleX(-1); }

.brands {
  position: relative;
  z-index: 2;
  margin: 80px auto 80px; }
  .brands__container {
    padding: 80px 0; }
  .brands__row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 160px;
    margin-top: 36px; }
  .brands__heading {
    color: #004fa3; }
  .brands__text {
    max-width: 640px;
    font-size: 20px; }
  .brands__images {
    display: flex;
    align-items: center;
    gap: 80px; }

.footer {
  position: relative;
  z-index: 1;
  padding: 80px 0; }
  .footer__container {
    max-width: 1800px; }
  .footer__heading {
    font-size: 18px;
    line-height: 2;
    color: #004fa3; }
  .footer__item {
    font-size: 12px;
    text-transform: uppercase; }
  .footer__top {
    display: grid;
    grid-template-columns: 5fr 3fr; }
  .footer__navigation {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; }
  .footer__social {
    display: flex;
    gap: 32px;
    align-items: center;
    grid-column: span 4;
    margin-top: 80px; }
  .footer__social-text {
    font-size: 18px; }
  .footer__social-icons-container {
    display: flex;
    align-items: center;
    gap: 36px; }
  .footer__social-icon-container {
    max-width: 20px; }
  .footer__certifications {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px; }
  .footer__certifications-heading {
    font-size: 16px; }
  .footer__certifications-text {
    font-size: 10px;
    text-transform: uppercase; }
  .footer__certifications-image-container {
    max-width: 55px; }
  .footer__certifications-image {
    border-radius: 100%; }
  .footer__bottom {
    max-width: 1800px;
    border-radius: 20px;
    overflow: hidden;
    margin-top: 56px; }
  .footer__bottom-info {
    padding: 36px 0;
    background-color: #fff; }
  .footer__bottom-info-container {
    display: flex;
    flex-direction: column;
    gap: 32px; }
  .footer__bottom-logos {
    display: flex;
    align-items: center;
    gap: 8px; }
  .footer__bottom-logo-container {
    max-width: 200px; }
  .footer__bottom-logo-separator {
    background-color: rgba(0, 79, 163, 0.2);
    height: 1px;
    width: 100%; }
  .footer__bottom-contact-info {
    font-size: 16px; }
  .footer__bottom-copyrights {
    padding: 32px 0;
    background-color: #f6f8fa; }
  .footer__bottom-copyrights-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #042759; }
  .footer__copyrights-text {
    font-size: 12px; }
  .footer__privacy-link {
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    color: #042759; }

.header {
  background-color: transparent;
  position: absolute;
  width: 100%;
  margin: auto;
  z-index: 999;
  padding: 56px 0; }
  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .header__logo-container {
    display: flex;
    align-items: center;
    gap: 18px;
    height: 36px; }
  .header__logo {
    height: 100%; }
  .header__logo-separator {
    width: 1px;
    height: 72px;
    background-color: #1e1b18; }
  .header__tagline {
    font-size: 9px;
    text-transform: uppercase; }

.main-menu__list {
  display: flex;
  align-items: center;
  gap: 40px;
  list-style: none; }

.main-menu__link {
  font-size: 13px;
  text-transform: uppercase;
  color: #1e1b18;
  text-decoration: none;
  transition: ease 0.3s; }
  .main-menu__link:hover {
    color: #004fa3; }

.link {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.5rem; }
  .link:hover:after {
    animation: arrowBounce 1.2s ease-in-out 0s infinite reverse; }

/* ARROW BOUNCE */
@keyframes arrowBounce {
  0%,
  100% {
    -moz-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  56% {
    -moz-transform: translate3d(3px, 0, 0);
    -webkit-transform: translate3d(3px, 0, 0);
    transform: translate3d(3px, 0, 0); } }

.link {
  position: relative;
  white-space: nowrap; }

.link::before,
.link::after {
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: #82c341;
  top: 85%;
  left: 0;
  pointer-events: none; }

.link::before {
  content: "";
  transform-origin: 100% 50%;
  transform: scale3d(0, 1, 1);
  transition: transform 0.3s; }

.link:hover::before {
  transform-origin: 0% 50%;
  transform: scale3d(1, 1, 1); }
